@mixin display-flex ($justify: flex-start, $align: center, $direction: row)
  display: flex
  justify-content: $justify
  align-items: $align
  flex-direction: $direction

@mixin flex-center ($justify: center, $align: center, $direction: column)
  display: flex
  justify-content: $justify
  align-items: $align
  flex-direction: $direction

@mixin flex-around ($justify: space-around, $align: center, $direction: row)
  display: flex
  justify-content: $justify
  align-items: $align
  flex-direction: $direction

@mixin flex-between ($justify: space-between, $align: center, $direction: row)
  display: flex
  justify-content: $justify
  align-items: $align
  flex-direction: $direction

@mixin background-set ($repeat: no-repeat, $position: 95% px-to-rem(-6), $size: px-to-rem(61))
  background-repeat: $repeat
  background-position: $position 
  background-size: $size

